@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url('https://fonts.googleapis.com/css2?family=Orbitron');
@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@700&display=swap');


// Set your brand colors
$red: #963d2f;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$light: $beige-light;
$primary: $red;
$link: $red;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$title-size: 80px;

// Import what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";

.hero-body {
  background-color: $red;
  background-image: url('https://images.alphacoders.com/661/thumb-1920-661647.png');
  font-family: "Orbitron", sans-serif;
}

#title {
  font-family: "Cousine";
}
h1{
  text-align: center;
}
#animeDisplay{
  margin: auto;
  width: 50%;
}